<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Photos" href="#/tab/photos" icon-off="ion-image" icon-on="ion-image" >
    <ion-nav-view name="tab-photos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Liked" href="#/tab/rated" icon-off="ion-heart" icon-on="ion-heart">
    <ion-nav-view name="tab-rated"></ion-nav-view>
  </ion-tab>
</ion-tabs>